.admin-login-card {
  margin-top: 32% !important;
  width: 50vh;
  height: 30vh;
  box-shadow: 0 0 40px rgb(51 51 51 / 10%);
  margin-bottom: 50px;
}

.admin-png {
  width: 40%;
  margin-bottom: 5px;
}
.admin_input {
  width: 100%;
}

.admin_label {
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
}
.admin_button {
  width: 60%;
  height: 35px;
}
.admin-main {
  overflow-y: hidden !important;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 426px) {
  .admin-login-card {
    margin-top: 25% !important;
    width: 100%;
    height: 73vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .admin-login-card {
    width: 60%;
  }
}
