.main-content {
  padding-top: 70px !important;
}
.main-content.open {
  margin-left: 220px !important;
  max-width: calc(100% - 220px) !important;
}

/* 
.Nav-Icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}
/* @media screen and (max-width: 767.98px) {
  .main-content.open {
    margin-left: 0px;
    max-width: calc(100% - 0px);
    padding: 0px;
  }
} */

/* .sidebarcontent.open {
  width: 220px;
  border-bottom-right-radius: 10px;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 2;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.sidebarcontent.open .nav-list {
  display: block !important;
  top: 70px !important;
  position: relative !important;
  overflow: auto !important;
  height: calc(100vh - 7px) !important;
  overflow-y: scroll !important;
  padding: 10px 0px 40% 0px !important;
}

.sidebarcontent.open .nav-list::-webkit-scrollbar-thumb {
  background-color: rgb(179, 178, 178) !important;
  border-radius: 5px !important;
}
.sidebarcontent.open .nav-list::-webkit-scrollbar {
  width: 5px !important;
  background-color: transparent !important;
}

.sidebarcontent.open a {
  display: block;
  color: white;
  font-size: 16px;
  padding: 16px 7px 16px 20px;
  margin: 0px 10px;
  text-decoration: none !important;
  margin-bottom: 3px;
  width: -webkit-fill-available;
}
.sidebarcontent.open a:hover,
.sidebarcontent.open a:focus-visible {
  display: block;
  font-size: 16px;
  padding: 16px 7px 16px 20px !important;
  margin: 0px 10px;
  margin-bottom: 3px;
  color: rgb(168, 166, 166);
  text-decoration: none !important;
  box-shadow: 0 4px 0px 0 rgb(255, 0, 0);
  border-radius: 8px !important;
  width: -webkit-fill-available;
}
.sidebarcontent.open a:focus:not(:focus-visible) {
  display: block;
  font-size: 16px;
  padding: 16px 7px 16px 20px !important;
  margin-bottom: 3px;
  color: rgb(168, 166, 166);
  text-decoration: none !important;
  box-shadow: 0 4px 0px 0 rgb(255, 0, 0);

  border-radius: 8px !important;
  width: -webkit-fill-available;
} */

.Nav-Icon {
  font-size: 20px;
  margin-right: 4%;
  color: #aaa9a9;
}
.Nav-Icon1 {
  font-size: 20px;
  color: #aaa9a9;
}


.admin_icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.dashboards__headerNavs {
  background-color: white;
  box-shadow: 4px 3px 17px -6px rgba(0, 0, 0, 0.61) inset;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.61);
  height: 70px;
  left: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  width: 100%;
  z-index: 10;
}
.dashboards__headerNavs--container {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  padding-inline: 2rem;
}

.dashboards__headerNavs--container .navMenu {
  cursor: pointer;
  font-size: 1.2rem;
  color: grey;
}
.navMenus {
  font-size: 1.2rem;
  color: red !important;
}

.login-btn-clr{
  font-size: 1.2rem;
  text-decoration: none !important;
}
.navName {
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 0 !important;
  margin-left: 1rem;
  color: #514f4f;
}
.dashboards__headerNavs--container .logo {
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 0 !important;
  margin-left: 1rem;
}
.logoutAvatar {
  background-position: right;
}

.container {
  position: relative;
  display: inline-block;
}

