.addbtn{
    text-align: center;
    padding: 7px 10.5px;
    cursor: pointer;
  }
  
  .addbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .addbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .addbtn:hover span {
    padding-right: 25px;
  }
  
  .addbtn:hover span:after {
    opacity: 1;
    right: 0;
  }

  