@tailwind utilities;

label {
  font-size: 17px;
  margin-top: 1rem;
  margin-bottom: 2px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: left;
}

input,
textarea {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #495057 !important;
  border: 1px solid #ced4da;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid hsl(217, 91%, 60%);
}

input:hover,
textarea:hover {
  color: hsl(217, 91%, 60%);
}

ul{
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}


.print-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.submit-btn{
  margin-top: 2.5rem !important;
  padding: 7px 10.5px !important;
  cursor: pointer;
}

span{
  font-family: Arial, Helvetica, sans-serif;
}
